.body_bg {
    background-color: #222d32;
}
.mt {
    margin-top: 150px;
}


/* 首页中的样式 */
/* 1. 左边栏 */
html, body {
    height: 100%;
}
body {
    padding-left: 180px;
    transition: all 1s;
}
body.active {
    padding-left: 0;
}
.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
}
/* 注意这种样式的写法 */
.lt_aside.active {
    transform: translateX(-180px);
}

/* 以后项目中用到a img 通通转成block */
.lt_aside .brand a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-color: #367fa9;
}
/* 注意a本身是没有下划线的, 只有a被hover才会出现下划线 */
a:link,
a:visited,
a:hover,a:active {
    text-decoration: none;
}

.lt_aside .user img {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 20px auto 0;
}
.lt_aside .user p {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}

.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    /* text-align: center; */
    /* 老师使用的是给a标签加上padding值, 是文字居中, 
       相比用margin的好处是让整个a标签的宽度等于父盒子的宽度 -->思考用text-aligncenter行吗
    */
    padding-left: 50px;
    border-left: transparent;
}
ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 这个a的选择器比上面的选择器优先级高, 所以有覆盖效果 */
.lt_aside .nav .second a {
    padding-left: 70px;
}

.lt_aside .nav a.active {
    background-color: #1d1f21;
    border-left: 3px solid #069;
}

/* 2. 右边栏 */
.lt_main {
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}

.lt_header {
    height: 50px;
    line-height: 50px;
    background-color: #3c8dbc;
    padding: 0 15px;
    margin-bottom: 20px;
}
.lt_header a {
    color: #fff;
    font-size: 16px;
}
