html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  display: block;
}
.lt_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 640px;
  min-width: 320px;
  padding: 45px 0 55px 0;
}
.lt_header {
  width: 100%;
  height: 45px;
  background-color: #069;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.lt_header .icon_left,
.lt_header .icon_right {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header h3 {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.lt_footer {
  width: 100%;
  position: absolute;
  background-color: #069;
  bottom: 0;
}
.lt_footer a {
  padding-top: 10px;
  float: left;
  width: 25%;
  height: 55px;
  text-align: center;
  color: #fff;
}
.lt_footer a p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.lt_footer a.active {
  color: darkorange;
}
.lt_footer a.active p {
  color: darkorange;
}
.lt_main {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
}
.lt_search {
  padding: 10px;
}
.lt_search input {
  padding: 0;
  margin: 0;
  border: 1px solid #007aff;
  padding-left: 10px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
}
.lt_search button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  height: 34px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #007aff;
}
.product {
  padding: 10px;
}
.product ul li {
  width: 48%;
  float: left;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.product ul li a {
  padding: 10px;
}
.product ul li a p {
  text-align: center;
}
.product ul li a .oldPrice {
  color: #666;
}
.product ul li a .price {
  color: red;
}
.product ul li:nth-child(even) {
  margin-left: 4%;
}
