.base {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.proPrice .price {
  color: red;
}
.proPrice .oldPrice {
  text-decoration: line-through;
  font-size: 12px;
  color: #666;
}
.proSize span {
  border: 1px solid #ccc;
  background-color: pink;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.proSize span.active {
  background-color: blue;
}
.lt_cart {
  padding: 10px;
}
